/* Break Points Helper - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    position: relative;
    top: 0;
    left: 0;
}

body::before, body::after {
    position: fixed;
    z-index: 999;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    content: '';
    text-align:center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

body::before {
    bottom: 65px;
    right: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.25);
}

body::after {
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
}

/* full */

@media (min-width: 1920px) { 
    body::before {
        content: 'xxl';
    }

    body::after {
        content: 'full';
    }
 }

@media (min-width: 1260px) and (max-width: 1919.98px) { 
    body::before {
        content: 'xl';
    }

    body::after {
        content: '1920';
    }
 }

/* 1200 */

@media (min-width: 992px) and (max-width: 1259.98px) {
    body::before {
        content: 'lg';
    }

    body::after {
        content: '1260';
    }
}

/* 992 */

@media (min-width: 768px) and (max-width: 991.98px) { 
    body::before {
        content: 'md';
    }

    body::after {
        content: '992';
    }    
}

/* 768 */

@media (min-width: 576px) and (max-width: 767.98px) {
    body::before {
        content: 'sm';
    }

    body::after {
        content: '768';
    }
}

/* 576 */

@media (max-width: 575.98px) {
    body::before {
        content: 'xs';
    }

    body::after {
        content: '576';
    }
}

/* end Break Points Helper */